<div class="row">
  <div class="span9">
    <p>teamFBO.com just sent you instructions on how to set your password. 
    <br>The link will expire in 5 about minutes. 
    <br>Please go check your email.</p>
    <br>
    <br>
  </div>
</div>
