<h4>Set Password</h4>

<p>Enter your email address and press "Set Password". <br> We will send you a temporary link where you can set a new password.</p>
<div class="actions">
  <%= form_tag password_resets_path do %>
    <%= text_field_tag :email %>
    <%= submit_tag "Set Password", :class => "btn btn-default"  %>
  <% end %>
</div>