<h4>Welcome to teamFBO.</h4>

<p><strong>Username:</strong> <%= @user.username %></p>
<p><strong>Temporary password:</strong>GoTeam!</p> 
<p>Log in and change your password to something more secure.</p>
<p><%= link_to "Please Log In", @new_session_url %></p>