<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @procurement_type.name %>
</p>

<%= link_to 'Edit', edit_procurement_type_path(@procurement_type) %> |
<%= link_to 'Back', procurement_types_path %>
