<div class="row">
  <div class="span9">
    <p><%= @current_team.company.name %> Company</p>
    <h4><%= @current_team.name %> </h4>
    <p><%= @current_team.description %> </p>
  </div>
  <div class="span3">
    <p>
      Username: <%= link_to current_user.username, edit_user_path(current_user) %> 
    </p>
    <p>
      Role: <%= link_to current_user.role.title, roles_path %> 
    </p>
  </div>
</div>
<br>
<ul class="nav nav-tabs">
  <li>
    <%= link_to "Home", user_path(current_user) %>
  </li>
  <li class="active">
    <%= link_to "Team", "#" %>
  </li>
  <li>
    <%= link_to "Selection Criteria", team_path(@current_team.id) %>
  </li>
</ul>
<div class="row">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills pull-left">
            <li class="active"><%= link_to "Team Members", team_members_path %></li>
            <% if current_user.role_id < 3 %>
              <li><%= link_to "Add Team Members", new_user_path %></li>
            <% end %>
            <li><%= link_to "Change Teams", edit_manage_team_path(@current_user) %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <% @team_members.each do |user| %>
        
          <tr>
            <td><%= user.username %></td>
            <td><%= user.role.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

