<div class="row">
  <div class="span9">
    <h4><%= current_user.team.name %> </h4>
    <p><%= current_user.team.description %> </p>
  </div>
  <div class="span3">
    <p>
      Username: <%= link_to current_user.username, edit_user_path(current_user) %> 
    </p>
    <p>
      Role: <%= link_to current_user.role.title, roles_path %> 
    </p>
  </div>
</div>
<br>
<ul class="nav nav-tabs">
  <li>
    <%= link_to "Home", user_path(current_user) %>
  </li>
  <li class="active">
    <%= link_to "Team", "#" %>
  </li>
  <li>
    <%= link_to "Selection Criteria", team_path(current_user.team_id) %>
  </li>
</ul>


<div class="row">
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <% @team_members.each do |user| %>
        
          <tr>
            <td><%= user.username %></td>
            <td><%= user.role.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

