<div class="row">
  <div class="span7 offset1">
    <p><%= @current_team.company.name %></p>
    <h4><%= @current_team.name %> </h4>
    <p><%= @current_team.description %> </p>
  </div>
  <div class="span3">
    <p align="right">
      <small>
        Username: <%= link_to @current_user.username, edit_user_path(@current_user) %>  
      </small><br>
      <small>
        Role: <%= link_to current_user.role.title, roles_path %> 
      </small>
    </p>
    
    <p align="right">
      <small>
        Not Evaluated: <%= link_to @not_evaluated_count, opportunities_path(:set_filter => "1") %> | 
        Watchlist: <%= link_to @watchlist_count, opportunities_path(:set_filter => "2") %> | 
        Reject: <%= link_to @reject_count, opportunities_path(:set_filter => "3") %>
      </small>
    </p>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <ul class="nav nav-tabs">
      <li>
        <%= link_to "Evaluations", user_path(current_user) %>
      </li>
      <li class="active">
        <%= link_to "Team", "#" %>
      </li>
      <li>
        <%= link_to "Criteria", team_path(@current_team.id) %>
      </li>
      <li>
        <%= link_to "Reports", reports_path %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills pull-left">
            <li class="active"><%= link_to "Team Members", team_members_path %></li>
            <% if current_user.role_id < 3 %>
              <li><%#= link_to "Add Team Members", new_user_path %></li>
            <% end %>
            <li><%#= link_to "Change Teams", edit_manage_team_path(@current_user) %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <% @team_members.each do |user| %>
        
          <tr>
            <td><%= user.username %></td>
            <td><%= user.role.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

