<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classification_code.name %>
</p>

<%= link_to 'Edit', edit_classification_code_path(@classification_code) %> |
<%= link_to 'Back', classification_codes_path %>
