<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @solicitation_number.name %>
</p>

<%= link_to 'Edit', edit_solicitation_number_path(@solicitation_number) %> |
<%= link_to 'Back', solicitation_numbers_path %>
