<h1>Search Keywords</h1>

<table class="table">
  <thead>
    <tr>
      <th>Keyword</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_keywords.each do |search_keyword| %>
      <tr>
        <td><%= search_keyword.name %></td>
        <td><%= link_to 'Edit', edit_search_keyword_path(search_keyword) %></td>
        <td><%= link_to 'Delete', search_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Keyword', new_search_keyword_path %>
