<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @set_aside_radio.name %>
</p>

<%= link_to 'Edit', edit_set_aside_radio_path(@set_aside_radio) %> |
<%= link_to 'Back', set_aside_radios_path %>
